{% load i18n %}

<style>
    .nonfield {
            display:none;
        }

    .errorlist {
            text-align: left;
            color: red;
        }

</style>

<div>
    <img class="captcha_dyn_form" style="border: 1px grey dotted; padding: 5px;"
         id="{{ widget.name }}_img"
         src="data:image/png;base64,{{ image_b64 }}" />
    <br>
    <button type="button" class="mt-1" onclick="refresh_captcha_{{ widget.unique_id }}();" />
        {% trans 'Aggiorna Immagine' %}
    </button>

    <audio id="{{ widget.name }}_wav" controls
           src="data:audio/wav;base64,{{ audio_b64 }}"
           style="width: 170px; margin-top: 15px;"/>
</div>
<br>
<input placeholder="{% trans 'Insert CaPTCHA here' %}"
       style="width: 176px;"
       type="text"
       name="{{ widget.name }}"
       value="{{ widget.value | stringformat:'s' }}"
       {% include "django/forms/widgets/attrs.html" %}>
